.banner{
    background-color: rgb(86, 182, 182);
    color: aliceblue;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

.menulateral{
    background-color: rgb(167, 103, 20);
    padding: 20px;
}

.breadcrumbs{
    background-color: pink;
    padding: 5px;
}

.noticiagrande{
    background-color: rgb(114, 86, 26);
    padding: 30px;
    text-align: center;
}

.noticiapequeña{
    background-color: blue;
    color: aliceblue;
    text-align: center;
    padding: 25px;
}

.piedepagina{
    background-color: green;
    color: aquamarine;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
	margin: 0;
	padding: 0;
	background: #E8347D;
	font-family: 'Poppins', sans-serif;
}

.color{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

#hexadecimal{
	font-size: 35px;
	color: #ffffff;
	display: block;
	text-transform: uppercase;
	margin: 15px;
}

.color button{
	cursor: pointer;
	background: rgb(59, 20, 199);
	outline: none;
	font-size: 15px;
	color: #ffffff;
	border: 3px solid #fff;
	border-radius: 25px;
	padding: 10px 15px;
	transition: transform .3s ease
}

.color button:hover{
	transform: scale(1.1);
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.hex:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.button{
    position: down;
}
